.ItemImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: white;
}

p{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(145, 133, 90);
}

.Info{
    font-size: large;
}

footer.ItemFooter{
    background-color: black;
}

.Link{
    width: 300px;
    height: auto;
}

.Link:hover{
    background-color: rgb(27, 27, 27);
    border-radius: 5px;

}

.ItemHeader{
    font-size: large;
}

